.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-message {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
}

.success-message.show {
  opacity: 1;
  transform: translateY(0);
}
